div.system-list {
  display: flex;
  flex-flow: row wrap;
}

div.one-system {
  width: auto;
  margin: 1px;
  display: inline-block;
}

div.system-properties {
  flex-flow: column;
  padding: 2px;
}

div.system-title {
  width: auto;
}

div.system-planet-grp {
  width: auto;
  flex-grow: 0;
}

div.system-player-reco {
  width: auto;
}
